@charset "utf-8";
body{
            background-color: black;
        }
        h1 {
            color: darkgoldenrod;
        }
        h2{
            color: red;background-color: aqua;
        }
        p{
            color: white;font-style: italic;
        }
        h2{
            
        }
        a{
            color: red;font-weight: bold;background-color: yellow;
        }