@charset "UTF-8";

/*
    em HTML é "id" em CSS é "#"
    em HTLM é "class" em CSS é "."
*/    

body {
    background-color: rgb(205, 235, 203);
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        color:rgb(4, 109, 0)
    }
    h1#principal {
        text-align: center;
        background-color: green;
        color: white;
    }
    
    h2{
        color: rgb(73,109,71)
    }

    .Basico {
        color: red;
        font-weight: bold;

    }

    .Intermediario {
        color:blue;
        font-weight: bold;
    }

    .Avancado {
        color: rgb(255, 111, 0);
        font-weight: bold;
        
    }

    .destaque {
        background-color: rgba(77, 182, 7, 0.772);

    }