@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#92FFFE,#D19979);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(158, 43, 37, 0.574);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}
h1 {
    color: #9E2B25;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(68, 18, 16);
}
h2 {
    color: #192A51;
}